body {
  background-color: white;
  margin: auto;
}
span {
  float: left;
  padding-top: 20px;
  padding-left: 20px;
  font-style: italic;
  background: linear-gradient(to bottom, #0087ca 0%, #0087ca 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: inherit;
  text-decoration: none;
}
span:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-15px);}}%3C/style%3E%3Cpath fill='none' stroke='%230087ca' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-size: auto 4px;
}

header {
  font-size: 2rem;
  background: rgb(38, 38, 43);
  color: white;
  max-height: 100px;
}
nav {
  text-align: right;
  padding: 20px;
}

form {
  display: grid;
  justify-content: center;
}

/* .navbar {
 padding: 20px;
 text-align: right;
 background: rgb(38, 38, 43);
 color: white;
}  */
a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: inset 0 0 0 0 #54b3d6;

  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

a:hover {
  box-shadow: inset 200px 0 0 0 #54b3d6;
  color: white;
}

#homePageImg {
  float: left;
  padding-left: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  /* padding: 20px; */
  width: 210px;
}

/* .aboutMe{
 margin-left: 20px;

} */

section {
  /* margin: 20px; */
  padding: 20px;
  margin: 20px;
  border-top: 1px solid;
}

main {
  text-align: center;
}

#welcomeGif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

#imperialBeach {
  float: right;
  /* padding: 20px; */
  padding-left: 20px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 210px;
}

#adelanto {
  float: left;
  padding-left: 5px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 210px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

p {
  font-style: italic;
}

#picOfWalmart {
  /* float: left; */
  /* padding-left: 5px; */
  /* padding-right: 20px; */
  padding-bottom: 5px;
  padding-top: 5px;
  /* padding: 20px; */
  max-width: 500px;
}

.walmart {
  /* background-color: rgb(0, 255, 221); */
  padding-left: 30px;
  padding-right: 30px;
  /* margin-right: 300px; */
  /* margin-left: 300px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#picOfAmazon {
  /* float: right; */
  /* padding: 20px; */
  /* padding-left: 5px; */
  /* padding-right: 5px; */
  padding-bottom: 5px;
  padding-top: 5px;
  max-width: 500px;
}

.amazonDelivery {
  /* background-color: rgb(123, 122, 168); */
  padding-left: 30px;
  padding-right: 30px;
  /* margin-right: 300px; */
  /* margin-left: 300px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#picOfTomTeam {
  /* padding-left: 20px; */
  /* padding-right: 5px; */
  padding-bottom: 5px;
  padding-top: 5px;
  max-width: 500px;
}

.tomTeam {
  /* background-color: rgb(6, 145, 244); */
  padding-left: 30px;
  padding-right: 30px;
  /* margin-right: 300px; */
  /* margin-left: 300px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    ". . ."
    ". welcome ."
    ". . .";
  place-items: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  grid-area: welcome;
  /* align-items: center; */
  /* justify-items: center; */
  place-items: center;
}

.facebook {
  width: 30px;
}

.twitter {
  width: 30px;
}

.youtube {
  width: 30px;
}
