body {
 background-color: white;
 margin: auto;
  

}
span{
  float: left;
  padding-top: 20px;
  padding-left: 20px;
  font-style: italic;
  background: linear-gradient(to bottom, #0087ca 0%, #0087ca 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: inherit;
  text-decoration: none;
}
span:hover{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-15px);}}%3C/style%3E%3Cpath fill='none' stroke='%230087ca' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-size: auto 4px;
}

header{
 
 font-size: 2rem;
 background: rgb(38, 38, 43);
 color: white;
}
nav{
  text-align: right;
  padding: 20px;
}

/* .navbar {
 padding: 20px;
 text-align: right;
 background: rgb(38, 38, 43);
 color: white;
}  */
a{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  

}


#homePageImg{
  float: left;
  padding-left: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  /* padding: 20px; */
  width: 210px;
}

/* .aboutMe{
 margin-left: 20px;

} */

section{
  /* margin: 20px; */
  padding: 20px;
  margin: 20px;
  border-top: 1px solid;
 

}

main{
  text-align: center;

  
}

#welcomeGif{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}



#imperialBeach{
  float: right;
  /* padding: 20px; */
  padding-left: 20px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 210px;
}

#adelanto{
  float: left;
  padding-left: 5px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 210px;
}

 a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

p{
  font-style: italic;
}